.hero-image-panel {
  background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDR9X8luwiHZyTbAZhKwia5rFDXyXBnxDG_R2TzksE8pECyqtxdxetYoHh_wVuQf4GXT6k7TcFyLdk2NjOY4zhtobfbjqk2SYk6y07PvSB9bozOfTQw-e35vXx2Ucsn8nM4rKn5Uv13x2yNf0Z8-HLNzv7mhaQU_Rtmjik4PI0ZHV2ftW3M0a55_JNinM0gJoLnb11NxU4EUxmFGlyV2L8YNy0EQWX3srio8QcHxA0_ACdYjnMKIDFwh_2dvqfIfQdpnT00PD1Tog');
  background-size: cover;
  background-position: center;
}

.feature-image-panel {
  background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDR9X8luwiHZyTbAZhKwia5rFDXyXBnxDG_R2TzksE8pECyqtxdxetYoHh_wVuQf4GXT6k7TcFyLdk2NjOY4zhtobfbjqk2SYk6y07PvSB9bozOfTQw-e35vXx2Ucsn8nM4rKn5Uv13x2yNf0Z8-HLNzv7mhaQU_Rtmjik4PI0ZHV2ftW3M0a55_JNinM0gJoLnb11NxU4EUxmFGlyV2L8YNy0EQWX3srio8QcHxA0_ACdYjnMKIDFwh_2dvqfIfQdpnT00PD1Tog');
  background-size: cover;
  background-position: center;
}
